<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        function mfunction() {

            //socket is global
            socket = io.connect();
            alert("connected to dashboard");


            function sendMessage(total) {
                socket.emit("totalWaitingCalls", { "totalWaiting": total });
            }

            //Receiving number of total waiting calls
            socket.on('totalWaitingCalls', function (msg) {
                var item = document.createElement('li');
                item.textContent = msg.totalWaiting;
                var messages = document.getElementById('messages').innerHTML = msg.totalWaiting;
                // messages.set
                window.scrollTo(0, document.body.scrollHeight);
            });

            socket.on("waitingTime", function (msg) {
                var item = document.createElement('li');
                item.textContent = msg;
                var messages = document.getElementById('messages').innerHTML =
                    "Avarage Waiting Time: \n " + msg;
                // messages.set
                window.scrollTo(0, document.body.scrollHeight);
            });

            //Receiving&Presenting call information
            socket.on('callDetails', function (msg) {
                var item = document.createElement('li');
                item.textContent = msg;
                var messages = document.getElementById('messages').innerHTML =
                    "Call Just Ended:\n " + msg.id + msg.totalTime + msg.city;
                // messages.set
                window.scrollTo(0, document.body.scrollHeight);
            });
        }

    </script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body onload="mfunction()">
    <ul id="messages"></ul>
    <form id="form" action="">
        <input id="input" autocomplete="off" /><button>Send</button>
    </form>
    <h1>HELLO</h1>
    <%= myVar %>
</body>

</html>
